name: docs
on:
  push:
    branches:
      - master
    tags:
      - v*.*
  workflow_dispatch:
jobs:
  build-docs:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
    - uses: actions/checkout@v4
    - uses: nimpylib/doc-deploy@v0.1.3
